.root {
  flex: 1;
  width: 100%;

  display: flex;
  place-items: center;
  flex-direction: column;
}

.main {
  width: min(51rem, 95%);
  padding: 1.5rem;

  display: grid;
  grid-template-columns: 1fr min(28rem, 100%) 1fr;
}

.main > * {
  grid-column: 2;
}

.footer {
  flex-grow: 1;
  align-self: start;

  padding: 0.125em 0.5em;

  display: flex;
  align-items: end;
}
