.compare {
  width: min(46rem, 95%);
  padding: 1.5rem;

  display: grid;
  grid-template-columns: 1fr min(14rem, 50%) min(14rem, 50%) 1fr;
}

.compare > * {
  grid-column: 2 / -2;
}

.compare-title {
  font-size: clamp(1.5rem, 7.5vw, var(--h2-font-size-default));
  margin: 0.375em auto 0.5em;
  grid-column: 1 / -1;
}

.compare-main {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: calc(46rem / 0.95)) {
  .compare-main {
    grid-template-columns: 1fr;
  }
}

.compare-char1,
.compare-char2 {
  font-size: 1.75rem;
  color: white;
  background-color: var(--xkcd-dark-blue-gray);
  padding: 2rem;
  margin: 1.5rem 0.5rem 0;
  height: 9rem;
}
.compare-char1:hover,
.compare-char2:hover {
  background-color: color-mix(in srgb, var(--xkcd-dark-blue-gray) 90%, white);
}
.compare-char1:active,
.compare-char2:active {
  background-color: color-mix(in srgb, var(--xkcd-dark-blue-gray) 80%, white);
}

.compare-both {
  margin: 1.5rem 0.5rem 0;
  grid-column: 1 / -1;
}

.compare-hr-main-sub {
  font-size: 1rem;
  grid-column: 1 / -1;
  border-width: 0;
  border-bottom: lightgray 1px solid;
  margin: 1.5em 0;
}

.compare-undo {
  grid-column: 2;
  justify-self: end;

  margin-right: 0.5rem;
}

.compare-redo {
  grid-column: 3;
  justify-self: start;

  margin-left: 0.5rem;
}

.compare-undo,
.compare-redo {
  font-size: 2rem;
  align-self: center;

  width: 3rem;
  height: 3rem;

  display: inline-flex;
  place-items: center;

  padding: 0.5rem;
  margin-bottom: 1rem;

  color: green;
  background-color: var(--mycolor-green-tea);
}
.compare-undo:hover,
.compare-redo:hover {
  background-color: color-mix(in hsl shorter hue, var(--mycolor-green-tea) 95%, darkgreen);
}
.compare-undo:active,
.compare-redo:active {
  background-color: color-mix(in hsl shorter hue, var(--mycolor-green-tea) 90%, darkgreen);
}

.compare-undo:disabled,
.compare-redo:disabled {
  color: color-mix(in srgb, var(--xkcd-dark-blue-gray) 30%, white);
  background-color: color-mix(in srgb, whitesmoke 40%, white);
}

.compare-info {
  margin: auto;
}

.compare-autosave {
  color: red;
  margin: auto;
}

.compare-quit {
  justify-self: center;
  margin-top: 1em;
}
