:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --xkcd-dark-blue-gray: #1f3b4d;

  color: var(--xkcd-dark-blue-gray);
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;

  display: flex;
  place-items: center;
  flex-direction: column;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

a {
  font-weight: 500;
  color: limegreen;
  text-decoration: inherit;
}
a:hover {
  color: color-mix(in srgb, limegreen 90%, white);
}

button {
  /* reset */
  font-size: 1em;
  font-family: inherit;

  border-radius: 0.5em;
  border-style: none;
  padding: 0.6em 1.2em;
  font-weight: 500;
  background-color: whitesmoke;
  cursor: pointer;
}
button:hover {
  background-color: color-mix(in srgb, whitesmoke 95%, black);
}
button:active {
  background-color: color-mix(in srgb, whitesmoke 90%, black);
}

input[type="checkbox"] {
  width: 1.25em;
  height: 1.25em;
  accent-color: green;
  vertical-align: -0.25em;
}

input[type="text"] {
  /* reset */
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  text-rendering: inherit;
  font-size: 1em;

  background-color: whitesmoke;
  border-style: none;
  padding: 0.3em;
}

select {
  /* reset */
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  text-rendering: inherit;
  font-size: 1em;

  background-color: whitesmoke;
  border-style: none;
  padding: 0.3em 0 0.3em 0.3em;
}

footer {
  font-size: 0.75em;
}
