:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: normal;

  --xkcd-dark-blue-gray: #1f3b4d;
  --mycolor-green-tea: #f0ffe0;
  --h1-font-size-default: 3.125rem;
  --h2-font-size-default: 2.625rem;
  --h3-font-size-default: 2.175rem;

  color: var(--xkcd-dark-blue-gray);
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;

  display: flex;
  place-items: center;
  flex-direction: column;
}

h1 {
  font-size: var(--h1-font-size-default);
  line-height: 1;
  font-weight: normal;
}

h2 {
  font-size: var(--h2-font-size-default);
  line-height: 1;
  font-weight: normal;
}

a {
  color: limegreen;
  text-decoration: inherit;
}
a:hover {
  color: color-mix(in srgb, limegreen 90%, white);
}

button {
  /* reset */
  font-size: 1rem;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  text-rendering: inherit;

  border-radius: 0.5em;
  border-style: none;
  padding: 0.6em 1.2em;
  background-color: whitesmoke;
  cursor: pointer;
}
button:hover {
  background-color: color-mix(in srgb, whitesmoke 95%, black);
}
button:active {
  background-color: color-mix(in srgb, whitesmoke 90%, black);
}

input[type="checkbox"] {
  /* reset */
  font-size: 1rem;

  width: 1.25em;
  height: 1.25em;
  accent-color: green;
  vertical-align: -0.25em;
}

input[type="text"],
input[type="number"] {
  /* reset */
  font-size: 1rem;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  text-rendering: inherit;

  background-color: whitesmoke;
  border-style: none;
  padding: 0.3em;
}

input[type="text"]:disabled,
input[type="number"]:disabled {
  color: color-mix(in srgb, var(--xkcd-dark-blue-gray) 30%, white);
  background-color: color-mix(in srgb, whitesmoke 40%, white);
}

footer {
  font-size: 0.75rem;
}
