.result {
  width: min(51rem, 95%);
  padding: 1.5rem;

  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.result-main {
  width: min(36rem, 100%);
  padding-bottom: 1rem;

  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.result-title {
  font-size: clamp(1rem, 10vw, var(--h2-font-size-default));
  margin: 0.375em auto 0.75em;
}

.result-subtitle {
  font-size: clamp(1rem, 10vw, var(--h2-font-size-default));
  margin: 0;
}

.result-chars-container {
  width: min(30rem, 100%);
  margin-top: 1rem;
  font-size: 1.5rem;

  display: grid;
  grid-template-columns: 1fr auto minmax(0, 1fr);
}
.result-chars-container > *:nth-child(3n-2) {
  width: max-content;
  justify-self: end;
}
.result-chars-container > *:nth-child(3n-1) {
  justify-self: start;
}

.result-chars-rank {
  margin-right: 0.5em;
}

.result-hr-main-sub {
  place-self: center;
  width: min(20rem, 95%);
  font-size: 1rem;
  border-width: 0;
  border-bottom: lightgray 1px solid;
  margin: 1.5em 0;
}

.result-download-image {
  all: unset;
  color: limegreen;
}
.result-download-image:hover,
.result-download-image:active {
  all: unset;
  cursor: pointer;
  color: color-mix(in srgb, limegreen 90%, white);
}

.result-result-link {
  margin-top: 0.25rem;
}

.result-retry {
  margin-top: 1.5rem;
}
