.gamegroup-tree {
  /* reset */
  padding: 0;

  margin: 1em 0.5em;
  min-width: 12em;
}

.gamegroup-tree li {
  list-style-type: none;
}

.setup-title {
  text-align: center;
}

.setup-start {
  margin: 0 1em;
  text-align: center;
}

.setup-chars-container {
  grid-column: 1 / -1;
  margin: 0 auto;
}

.setup-chars-gamegroup-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.setup-numchars {
  margin-left: 0.25em;
}

.setup-sorter-title {
  margin-left: 0.25em;
}
