.workgroup-tree {
  /* reset */
  padding: 0;

  margin: 1em 0 0;
}

.workgroup-tree li {
  list-style-type: none;
}

.workgroup-details {
 /*
  * 目的は、全体のチェックボックスと作品のチェックボックスの間の幅を、
  * 作品のチェックボックスとキャラのチェックボックスの間の幅と合わせるため。
  */
  margin-left: 7px;
}

.workgroup-summary {
  width: max-content;
}

.workgroup-char {
  display: inline-flex;
  place-items: start;
}
.workgroup-char > input[type="checkbox"] {
  flex-shrink: 0;
}

.setup {
  width: min(51rem, 95%);
  padding: 1.5rem;

  display: grid;
  grid-template-columns: 1fr min(28rem, 100%) 1fr;
}

.setup > * {
  grid-column: 2;
}

.setup-title {
  font-size: clamp(var(--h3-font-size-default), 11vw, var(--h2-font-size-default));
  margin: 0.375em auto 0.5em;
}

.setup-chars-container {
  grid-column: 1 / -1;
  font-size: 1rem;
  margin: 1em auto;
  padding: 0.5em 0.75em;
  background-color: whitesmoke;
  border-radius: 0.5em;

  box-sizing: border-box;
  width: 100%;
}

.setup-check-all {
  margin-left: 0;
}

.setup-chars-workgroup-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12.25em, 1fr));
}

.setup-numranks-container {
  font-size: 1rem;
  margin: 0.25em 0 1em;
}

.setup-numranks {
  width: 3rem;
}

.setup-sorter-title-container {
  font-size: 1rem;
  margin: 0.25em 0 1em;

  display: inline-flex;
  flex-wrap: wrap;
  align-items: baseline;
}

.setup-sorter-title {
  flex-grow: 1;

  margin-left: 0.25em;
}

.setup-start {
  font-size: 1rem;
  margin: 1.25em 0 0.5em;
  place-self: center;
  padding-left: 5em;
  padding-right: 5em;
}

.setup-hr-opts-desc {
  font-size: 1rem;
  border-width: 0;
  border-bottom: lightgray 1px solid;
  margin: 1.5em 0;
}

.setup-usage {
  font-size: 1rem;
  margin: 0.25em 0;
}

.setup-license {
  font-size: 1rem;
  margin: 0.25em 0;
}

.setup-changelog {
  font-size: 1rem;
  margin: 0.25em 0;
}
